*{
    padding: 0;
    margin: 0;
    
}
.areaKeyBoard{   
    position: absolute;
    top: 50%;    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button {
    min-width: 43px;
    height: 43px;
    margin: 2px;
    color: red;
    background-color: black;
}   
textarea{
    width: 70%;
    height: 200px;
    font-size: 33px;
    resize: none;
    
}

